{% load static %}
<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'first/css/style.css' %}">
	<meta charset="utf-8">
	<title>Главная страница</title>
</head>
<header>
	<nav class="menu">
		<div class="menu-div">
			<ul>
				<li><a href="{% url 'home' %}"><img src="{% static 'first/images/Avatar.png' %}" class="avatar"></a>
					<div class="info">
						{% for i in info %}
							<ul>
								<li><p>{{i.title}}</p></li>
							</ul>
						{% endfor %}
					</div>
					<h1 class="number">Информация о нас</h1>
				</li>
			</ul>
		</div>
	</nav>
</header>>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3838841d93913d5a1031d7409f9d7911 {
                    position: toprigth;
                    width: 950.0px;
                    height: 550.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
	<p class="about-us">Ресторан "Kombo Food" - это не просто ресторан, он расположен во многих уголках Москвы. Также наш ресторан заботится о покупателях, и мы можем доставить еду прямо к вам на дом.</p>
	<p class="about-us">На данной карте представлены все наши пункты выдачи. Синие маркеры - это пункты выдачи еды, а синиг круг - это границы доставки Kombo Food.</p>
    
    
            <div class="folium-map" id="map_3838841d93913d5a1031d7409f9d7911"></div>
        
</body>
<script>
    
    
            var map_3838841d93913d5a1031d7409f9d7911 = L.map(
                "map_3838841d93913d5a1031d7409f9d7911",
                {
                    center: [55.76766184702502, 37.594135589055654],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_28edf598394bcd0751e7f8172977fb4a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
            var marker_af708bc2b31ee20ef8566ba506d88644 = L.marker(
                [55.75539761094001, 37.61795604341731],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_6c20ce5a1821f5028d2f5976be68383b = L.popup({"maxWidth": "100%"});

        
            
                var html_008d122765c779edd50cec0b572507cf = $(`<div id="html_008d122765c779edd50cec0b572507cf" style="width: 100.0%; height: 100.0%;">Мавзолей Ленина</div>`)[0];
                popup_6c20ce5a1821f5028d2f5976be68383b.setContent(html_008d122765c779edd50cec0b572507cf);
            
        

        marker_af708bc2b31ee20ef8566ba506d88644.bindPopup(popup_6c20ce5a1821f5028d2f5976be68383b)
        ;

        
    
    
            marker_af708bc2b31ee20ef8566ba506d88644.bindTooltip(
                `<div>
                     Мавзолей Ленина
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4c2914f0956a14a21c733c9ec857f10b = L.marker(
                [55.77163863385089, 37.64179166339341],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_d2614aadd6cb5d69f20ab391de768242 = L.popup({"maxWidth": "100%"});

        
            
                var html_d8e7b5fa00dc9f78caf0f86e1917eb1e = $(`<div id="html_d8e7b5fa00dc9f78caf0f86e1917eb1e" style="width: 100.0%; height: 100.0%;">M.Видео</div>`)[0];
                popup_d2614aadd6cb5d69f20ab391de768242.setContent(html_d8e7b5fa00dc9f78caf0f86e1917eb1e);
            
        

        marker_4c2914f0956a14a21c733c9ec857f10b.bindPopup(popup_d2614aadd6cb5d69f20ab391de768242)
        ;

        
    
    
            marker_4c2914f0956a14a21c733c9ec857f10b.bindTooltip(
                `<div>
                     M.Видео
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ead949913413e7707c2754dae6f966b9 = L.marker(
                [55.69778019769173, 37.600285043934676],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_b6b6697fee94359b612fef0bcb49b42f = L.popup({"maxWidth": "100%"});

        
            
                var html_cff73048acbf8fff7590a616131d8cb8 = $(`<div id="html_cff73048acbf8fff7590a616131d8cb8" style="width: 100.0%; height: 100.0%;">ГБУЗ НИКИО им. Л.И. Свержевского ДЗМ</div>`)[0];
                popup_b6b6697fee94359b612fef0bcb49b42f.setContent(html_cff73048acbf8fff7590a616131d8cb8);
            
        

        marker_ead949913413e7707c2754dae6f966b9.bindPopup(popup_b6b6697fee94359b612fef0bcb49b42f)
        ;

        
    
    
            marker_ead949913413e7707c2754dae6f966b9.bindTooltip(
                `<div>
                     ГБУЗ НИКИО им. Л.И. Свержевского ДЗМ
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_36baa698b93ca1582ffb795f589a3083 = L.marker(
                [55.56843828060165, 37.46572415039861],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_f73d1b0effcf18e4bc47fda00b59dbd5 = L.popup({"maxWidth": "100%"});

        
            
                var html_1f510494917cac064df5a5b3bb0fa1a0 = $(`<div id="html_1f510494917cac064df5a5b3bb0fa1a0" style="width: 100.0%; height: 100.0%;">Городская клиническая больница №40</div>`)[0];
                popup_f73d1b0effcf18e4bc47fda00b59dbd5.setContent(html_1f510494917cac064df5a5b3bb0fa1a0);
            
        

        marker_36baa698b93ca1582ffb795f589a3083.bindPopup(popup_f73d1b0effcf18e4bc47fda00b59dbd5)
        ;

        
    
    
            marker_36baa698b93ca1582ffb795f589a3083.bindTooltip(
                `<div>
                     Городская клиническая больница №40
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63c8e13ec2d589e975aa84c4e7598c58 = L.marker(
                [55.75643781261594, 37.54146936004568],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_77d0dc805ff56bcde7e7cd99fbee814a = L.popup({"maxWidth": "100%"});

        
            
                var html_ca50b26b24dd2ab2734352fbe062440e = $(`<div id="html_ca50b26b24dd2ab2734352fbe062440e" style="width: 100.0%; height: 100.0%;">ДГКБ №9 им. Г. Н. Сперанского</div>`)[0];
                popup_77d0dc805ff56bcde7e7cd99fbee814a.setContent(html_ca50b26b24dd2ab2734352fbe062440e);
            
        

        marker_63c8e13ec2d589e975aa84c4e7598c58.bindPopup(popup_77d0dc805ff56bcde7e7cd99fbee814a)
        ;

        
    
    
            marker_63c8e13ec2d589e975aa84c4e7598c58.bindTooltip(
                `<div>
                     ДГКБ №9 им. Г. Н. Сперанского
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_92ad28ba5d322fe48c5cc68f92bb34ae = L.marker(
                [55.793124016621405, 37.38832204605409],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_5a69d4a3be6936e28f9e434685f436ef = L.popup({"maxWidth": "100%"});

        
            
                var html_09668bf9439b9b8be670ce2f9375cbd1 = $(`<div id="html_09668bf9439b9b8be670ce2f9375cbd1" style="width: 100.0%; height: 100.0%;">METRO Cash & Carry</div>`)[0];
                popup_5a69d4a3be6936e28f9e434685f436ef.setContent(html_09668bf9439b9b8be670ce2f9375cbd1);
            
        

        marker_92ad28ba5d322fe48c5cc68f92bb34ae.bindPopup(popup_5a69d4a3be6936e28f9e434685f436ef)
        ;

        
    
    
            marker_92ad28ba5d322fe48c5cc68f92bb34ae.bindTooltip(
                `<div>
                     METRO Cash & Carry
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b765c90377b59eb11e2ab0add0adf2e3 = L.marker(
                [55.84485024241855, 37.383660384180686],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_999f045d78f072dbd6c8d78c291ecc7a = L.popup({"maxWidth": "100%"});

        
            
                var html_7c72bcbe15f8287855af910f4776d5e7 = $(`<div id="html_7c72bcbe15f8287855af910f4776d5e7" style="width: 100.0%; height: 100.0%;">ТЦ Митинский радиорынок</div>`)[0];
                popup_999f045d78f072dbd6c8d78c291ecc7a.setContent(html_7c72bcbe15f8287855af910f4776d5e7);
            
        

        marker_b765c90377b59eb11e2ab0add0adf2e3.bindPopup(popup_999f045d78f072dbd6c8d78c291ecc7a)
        ;

        
    
    
            marker_b765c90377b59eb11e2ab0add0adf2e3.bindTooltip(
                `<div>
                     ТЦ Митинский радиорынок
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b9d89e39cc7935c565db4d14cfb7e83d = L.marker(
                [55.890240570394155, 37.5378818347221],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_27ba7596ed72a2b124581d180f8427de = L.popup({"maxWidth": "100%"});

        
            
                var html_d0521fb54cf45b80c0dd9886fae56b31 = $(`<div id="html_d0521fb54cf45b80c0dd9886fae56b31" style="width: 100.0%; height: 100.0%;">ТРЦ Зиг-Заг</div>`)[0];
                popup_27ba7596ed72a2b124581d180f8427de.setContent(html_d0521fb54cf45b80c0dd9886fae56b31);
            
        

        marker_b9d89e39cc7935c565db4d14cfb7e83d.bindPopup(popup_27ba7596ed72a2b124581d180f8427de)
        ;

        
    
    
            marker_b9d89e39cc7935c565db4d14cfb7e83d.bindTooltip(
                `<div>
                     Мавзолей Ленина
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_50ac19e25714157c65245ec0dfc33366 = L.marker(
                [55.91913120624165, 37.755883857201425],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_465fcea3d7aa36207d34903a755349d3 = L.popup({"maxWidth": "100%"});

        
            
                var html_45e340f4f9a5e2fc74c291233fa837c3 = $(`<div id="html_45e340f4f9a5e2fc74c291233fa837c3" style="width: 100.0%; height: 100.0%;">ТРК Красный кит</div>`)[0];
                popup_465fcea3d7aa36207d34903a755349d3.setContent(html_45e340f4f9a5e2fc74c291233fa837c3);
            
        

        marker_50ac19e25714157c65245ec0dfc33366.bindPopup(popup_465fcea3d7aa36207d34903a755349d3)
        ;

        
    
    
            marker_50ac19e25714157c65245ec0dfc33366.bindTooltip(
                `<div>
                     ТРК Красный кит
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_09b5b4d7c6774f403f2049d85da1431b = L.marker(
                [55.751497418752216, 37.618492737420084],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_c105d627ca6c10c896399b38c2892df8 = L.popup({"maxWidth": "100%"});

        
            
                var html_5284eca9d23a0f59c790aa5dac693a73 = $(`<div id="html_5284eca9d23a0f59c790aa5dac693a73" style="width: 100.0%; height: 100.0%;">Боровицкая площадь</div>`)[0];
                popup_c105d627ca6c10c896399b38c2892df8.setContent(html_5284eca9d23a0f59c790aa5dac693a73);
            
        

        marker_09b5b4d7c6774f403f2049d85da1431b.bindPopup(popup_c105d627ca6c10c896399b38c2892df8)
        ;

        
    
    
            marker_09b5b4d7c6774f403f2049d85da1431b.bindTooltip(
                `<div>
                     Боровицкая площадь
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b6b8ce2357cb09ba009719e1a58fb50a = L.marker(
                [55.72039801865527, 37.626929456519555],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_009656bd82acd5474ed408445e198a5e = L.popup({"maxWidth": "100%"});

        
            
                var html_cd5f190b375eb0143fe868244efdc0a4 = $(`<div id="html_cd5f190b375eb0143fe868244efdc0a4" style="width: 100.0%; height: 100.0%;">Театр Терезы Дуровой</div>`)[0];
                popup_009656bd82acd5474ed408445e198a5e.setContent(html_cd5f190b375eb0143fe868244efdc0a4);
            
        

        marker_b6b8ce2357cb09ba009719e1a58fb50a.bindPopup(popup_009656bd82acd5474ed408445e198a5e)
        ;

        
    
    
            marker_b6b8ce2357cb09ba009719e1a58fb50a.bindTooltip(
                `<div>
                     Театр Терезы Дуровой
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7ee5bf7c317efc2dc592a6f389e3c34b = L.marker(
                [55.740480698759605, 37.6716776367469],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_db9abbdd4391c1159b3300d40bc6fcd6 = L.popup({"maxWidth": "100%"});

        
            
                var html_68c458a26d624617e0b3c2974a101c8a = $(`<div id="html_68c458a26d624617e0b3c2974a101c8a" style="width: 100.0%; height: 100.0%;">Мощи святой Матроны</div>`)[0];
                popup_db9abbdd4391c1159b3300d40bc6fcd6.setContent(html_68c458a26d624617e0b3c2974a101c8a);
            
        

        marker_7ee5bf7c317efc2dc592a6f389e3c34b.bindPopup(popup_db9abbdd4391c1159b3300d40bc6fcd6)
        ;

        
    
    
            marker_7ee5bf7c317efc2dc592a6f389e3c34b.bindTooltip(
                `<div>
                     Мощи святой Матроны
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dcbee2cda503bd4e6c83199a1e74dfce = L.marker(
                [55.73774733998668, 37.716103786488254],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_f017f2ab4893849d0a903af67eea3064 = L.popup({"maxWidth": "100%"});

        
            
                var html_1449070097c957cea8f2cc41d714bb61 = $(`<div id="html_1449070097c957cea8f2cc41d714bb61" style="width: 100.0%; height: 100.0%;">Do A Flip</div>`)[0];
                popup_f017f2ab4893849d0a903af67eea3064.setContent(html_1449070097c957cea8f2cc41d714bb61);
            
        

        marker_dcbee2cda503bd4e6c83199a1e74dfce.bindPopup(popup_f017f2ab4893849d0a903af67eea3064)
        ;

        
    
    
            marker_dcbee2cda503bd4e6c83199a1e74dfce.bindTooltip(
                `<div>
                     Do A Flip
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2281378ffddacb41ce2881b5cbd0f21b = L.marker(
                [55.7939162900569, 37.676828293772154],
                {}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_262292b55d69b800fcd93efe13e06bb0 = L.popup({"maxWidth": "100%"});

        
            
                var html_70fdc9d20d0c48b02146ba5b62c7604b = $(`<div id="html_70fdc9d20d0c48b02146ba5b62c7604b" style="width: 100.0%; height: 100.0%;">Батутный центр JUSTUP!</div>`)[0];
                popup_262292b55d69b800fcd93efe13e06bb0.setContent(html_70fdc9d20d0c48b02146ba5b62c7604b);
            
        

        marker_2281378ffddacb41ce2881b5cbd0f21b.bindPopup(popup_262292b55d69b800fcd93efe13e06bb0)
        ;

        
    
    
            marker_2281378ffddacb41ce2881b5cbd0f21b.bindTooltip(
                `<div>
                     Батутный центр JUSTUP!
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_33034304bf255bdb8ea963bf383f2289 = L.circle(
                [55.76766184702502, 37.594135589055654],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25000, "stroke": true, "weight": 3}
            ).addTo(map_3838841d93913d5a1031d7409f9d7911);
        
    
        var popup_e8cd73d5b0de60635c60cc6e27d67ec5 = L.popup({"maxWidth": "100%"});

        
            
                var html_4e08b2d95166ed3027dd75069729019d = $(`<div id="html_4e08b2d95166ed3027dd75069729019d" style="width: 100.0%; height: 100.0%;">Наши магазины</div>`)[0];
                popup_e8cd73d5b0de60635c60cc6e27d67ec5.setContent(html_4e08b2d95166ed3027dd75069729019d);
            
        

        circle_33034304bf255bdb8ea963bf383f2289.bindPopup(popup_e8cd73d5b0de60635c60cc6e27d67ec5)
        ;

        
    
</script>
<body>
	<p class="about-us">Надеемся, что вы будете сыты и счастливы, а наш ресторан позаботится об этом.</p>
</body>